* {
  margin: 0;
  padding: 0;
  font-family: Roboto, helvetica, arial, sans-serif;
}
body {
  width: 100%;
  background-color: #141415;
  overflow-x: hidden;
}

.container {
  width: 95%;
  margin: 0 auto;
}

header ul {
  display: flex;
  justify-content: space-between;
  background-color: #141415;
  height: 60px;
  align-items: center;
  box-shadow: 0pc 10px 0px black;
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  display: inline-block;
  color: #e0e0e0;

  font-size: 17px;
}

header input[type='text'] {
  background-color: #141415;
  outline: none;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  padding: 5px;
  width: 225px;
  color: rgb(255, 255, 255);
  font-size: 14px;
}
header input[type='text']::placeholder {
  color: rgb(168, 168, 168);
}

header input[type='text']:focus {
  background-color: #ffffff;
  color: rgb(65, 65, 65);
}

#carrossel figure {
  height: 450px;
}

#carrossel:hover #setas p {
  margin-left: 35px;
  margin-right: 35px;
  transition: 0.5s;
}

#carrossel:not(:hover) #setas p {
  margin-left: -40px;
  margin-right: -40px;
  transition: 0.5s;
}

#setas {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 300px;
}

#setas p {
  display: inline-block;
  font-size: 80px;
  color: white;
  cursor: pointer;
}

#carrossel {
  height: 400px;
}

#carrossel figcaption {
  position: relative;
  bottom: 180px;
  color: #e0e0e0;
  text-shadow: 0px 0px 5px black;
}

#carrossel figcaption h2 {
  position: relative;
  bottom: 30px;
  font-size: 50px;
  color: #e0e0e0;
}

#carrossel figcaption h3 {
  position: relative;
  font-size: 25px;
  bottom: 5px;
  color: #e0e0e0;
}

#listas {
  margin-top: 120px;
  width: 100%;
  background-color: #141415;
}

#listas h2 {
  color: #e0e0e0;
  font-weight: bolder;
  margin-bottom: 20px;
}

.lista_flx {
  display: flex;
  flex-direction: row;
}

.lista_flx figure {
  margin-right: 20px;
  margin-bottom: 50px;
}
